{% load index %}
{% load static %}

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Start Page</title>
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<main>
		<!-- \/ Search \/ -->
			<div id="search">
				<iframe name="frame" style="display: none;"></iframe>
				<form onsubmit="search();" target="frame">
					<div id="search-text-container">
						<label for="search-text">Yandex: </label>
						<input id="search-text" name="search-text" type="text" placeholder="Write your question...">
					</div>
					<div id="search-button-container">
						<input id="search-button" type="submit" value="Search">
					</div>
				</form>
			</div>
		<!-- /\ Search /\ -->
		<!-- \/ Favorite Sites \/ -->
			<div id="fav-sites">
				<h2 id="fav-sites-text">Favorite Sites:</h2>
				<button id="fav-sites-button" onclick="addFavSite();">+</button>
				<div id="fav-site-section">
				{% for i in favSites %}
					<a class="fav-site-link" href="{{ i.url }}">
						<div class="fav-site-plate" style="background-image: url({{i.img}})"> </div>
					</a>
				{% endfor %}
				</div>
			</div>
			<div id="add-fav-site-menu">
				<form action="{% url 'main:addFavSite' %}" method="post">
					{% csrf_token %}
					<input type="text" name="siteName">
					<input type="text" name="url">
					<input type="text" name="img">
					<input type="submit" value="Add site">
					<button id="fav-sites-button" onclick="addFavSite();">X</button>
				</form>
			</div>
		<!-- /\ Favorite Sites /\ -->
		<!-- \/ News \/ -->
			<div id="news">
				<h2>News:</h2>
				{% for i in articles %}
					<h3 class="site-name">{{ i|index:2 }}</h3>
					<div class="article-section">
						{% for j in i|index:forloop.counter0|length|times %}
							<a class="article-link" href="{{ i|index:0|index:j }}">
								<div class="article-plate">
									{{ i|index:1|index:j }}
								</div>
							</a>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		<!-- /\ News /\ -->
			<button id="shadow" onclick="addFavSite();"></button>
		</main>
		<script src="/static/js/script.js"></script>
	</body>
</html>
