{% load index %}
{% load static %}

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Start Page</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<main>
		<!-- \/ Search \/ -->
			<div id="search">
				<iframe name="frame" style="display: none;"></iframe>
				<form onsubmit="search();" target="frame" autocomplete="off">
					<div id="search-text-container">
						<label for="search-text">Yandex: </label>
						<input id="search-text" name="search-text" type="text" placeholder="Write your question...">
					</div>
					<div id="search-button-container">
						<input id="search-button" type="submit" value="Search">
					</div>
				</form>
			</div>
		<!-- /\ Search /\ -->
		<!-- \/ Favorite Sites \/ -->
			<div id="fav-sites">
				<h2 id="fav-sites-text">Favorite Sites:</h2>
				<div id="fav-site-section">
				{% for i in favSites %}
					<a class="fav-site-link" href="{{ i.url }}">
						{% if i.img != "" %}
							<div class="fav-site-plate" style="background-image: url({{i.img}})">
								<form action="{% url 'main:delFavSite' siteID=i.id %}" method="post">
									{% csrf_token %}
									<input class="del-fav-site-button" type="submit" value="X">
								</form>
							</div>
						{% else %}
							<div class="fav-site-plate no-img">
								<span>{{ i.siteName }}</span>
								<form action="{% url 'main:delFavSite' siteID=i.id %}" method="post">
									{% csrf_token %}
									<input class="del-fav-site-button" type="submit" value="X">
								</form>
							</div>
						{% endif %}
					</a>
				{% endfor %}
				<button id="fav-sites-button" class="fav-site-plate" onclick="addFavSite();">Add Site +</button>
				</div>
			</div>
			<div id="add-fav-site-menu">
				<button id="fav-sites-close-button" onclick="addFavSite();">X</button>
				<form action="{% url 'main:addFavSite' %}" method="post" autocomplete="off">
					{% csrf_token %}
					<div id="add-fav-site-menu-form">
						<h3>Add site:</h3>
						<div class="menu-text-field">
							<label for="siteName">Site Name*: </label>
							<input type="text" name="siteName" required>
						</div>
						<div class="menu-text-field">
							<label for="url">Site URL*: </label>
							<input type="text" name="url" required>
						</div>
						<div class="menu-text-field">
							<label for="img">Site IMG: </label>
							<input type="text" name="img">
						</div>
						<div>
							<input type="submit" value="Add site">
						</div>
					</div>
				</form>
			</div>
		<!-- /\ Favorite Sites /\ -->
		<!-- \/ News \/ -->
			<div id="news">
				<h2>News:</h2>
				{% for i in articles %}
					<h3 class="site-name">{{ i|index:2 }}</h3>
					<div class="article-section">
						{% for j in i|index:forloop.counter0|length|times %}
							<a class="article-link" href="{{ i|index:0|index:j }}">
								<div class="article-plate">
									<div>{{ i|index:1|index:j }}</div>
								</div>
							</a>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		<!-- /\ News /\ -->
			<button id="shadow" onclick="addFavSite();"></button>
		</main>
		<script src="/static/js/script.js"></script>
	</body>
</html>
